<footer class="footer border-t-4 border-blue-400 bg-white">
  <div class="flex-col justify-center">
<div class="flex justify-center">
  <a href="https://indicium.tech/" target="_blank" rel="noopener noreferrer">
  <img
    class="w-72"
    src="https://indicium-cdn.s3.amazonaws.com/indicium-site/v4/logos/indicium.svg"
    alt=""
  />
  </a>
</div>
  <div class="flex flex-row gap-3 justify-center">
    <a href="https://www.facebook.com/indiciumtech/" target="_blank" rel="noopener noreferrer">
    <div class="flex justify-center w-6">
      <img  src="https://indicium-cdn.s3.amazonaws.com/indicium-site/v4/illustrations/social-media/facebook.svg" alt="">
    </div>
    </a>
    <a href="https://br.linkedin.com/company/indiciumtech"
                target="_blank"
                rel="noopener noreferrer">
    <div class="flex justify-center w-6">
      <img  src="https://indicium-cdn.s3.amazonaws.com/indicium-site/v4/illustrations/social-media/linkedin.svg" alt="Indicium Linkedin">
    </div>
    </a>
    <a href="https://twitter.com/indicium_tech" target="_blank" rel="noopener noreferrer">
    <div class="flex justify-center w-6">
      <img  src="https://indicium-cdn.s3.amazonaws.com/indicium-site/v4/illustrations/social-media/twitter.svg" alt="Indicium Twitter">
    </div>
    </a>
    <a href="https://www.instagram.com/indiciumtech/" target="_blank" rel="noopener noreferrer">
    <div class="flex justify-center w-6">
      <img  src="https://indicium-cdn.s3.amazonaws.com/indicium-site/v4/illustrations/social-media/instagram.svg" alt="Indicium Instagram" >
    </div>
    </a>
  </div>
    <div class="text-center font-xs font-thin py-6">
      <p>
           Rua Orlando Phillippi 100, Edifício TechPlan 3º Andar - Sala 304 </br>  Saco Grande - Florianópolis - SC </br> Fone: +55 (48) 3371-7293
      </p>
      <p>
      ©Indicium 2021 - Todos os direitos reservados
      </p>
    </div>
  </div>
</footer>