<header class="index-header flex flex-col relative h-2/4">
  <img
    src="https://indicium-cdn.s3.amazonaws.com/indicium-blog/images/2021/theme_indicum/bg-header.png"
    alt="Background Header"
    class="absolute w-full h-full object-cover"
  />
  <div class="flex justify-center mx-auto">
    <img
      class="absolute bottom-2/4"
      src="https://indicium-cdn.s3.amazonaws.com/indicium-blog/images/2021/theme_indicum/inside_header.png"
      alt="Blog Indicium"
    />
  </div>

  <div class="flex justify-center mx-auto">
    <nav class="navbar text-center absolute bottom-0">
      <div class="navbar-menu divide-x divide-white text-xl text-white">
        <a href="/" class="navbar-item px-3">
          Home
        </a>
        <a href="/" class="navbar-item px-3">
          Novidades
        </a>
        <a href="/" class="navbar-item px-3">
          Na prática
        </a>
        {{! <a href="/" class="navbar-item px-3">
          Por funcionalidade
        </a> }}
        <a href="/" class="navbar-item px-3">
          Materiais gratuitos
        </a>
      </div>
    </nav>
  </div>

</header>