<header class="flex-row">
  <a href="https://indicium.tech/" target="_blank" rel="noopener noreferrer">
    <div class="flex justify-center bg-white">
      <img
        class="w-40"
        src="https://indicium-cdn.s3.amazonaws.com/indicium-site/v4/logos/indicium.svg"
        alt="Indicium Logo"
      />
    </div>
  </a>
</header>