

<section>
  <div class="bg-gray-500 w-full">
    <div class="p-12 flex justify-center">
      <div class="flex flex-row gap-5">
        <h2
          class="text-4xl text-left flex justify-center text-white flex-wrap content-center p-0" style="font-family: 'Titillium Web', sans-serif;"
        >Assine nossa newsletter</h2>
        <form action="#" class="m-0">
          <div class="flex-wrap content-center">

            <div class="flex items-center">
              <input
                type="nome"
                placeholder="Nome"
                class="w-full p-3 mr-2 bg-gray-100 shadow-inner rounded-md border border-gray-400 focus:outline-none"
              />
              <input
                type="email"
                placeholder="E-mail"
                class="w-full p-3 mr-2 bg-gray-100 shadow-inner rounded-md border border-gray-400 focus:outline-none"
              />
              <button
                class="text-white uppercase p-3 font-semibold rounded shadow"
                style="background-color: #F6A500"
              >Assinar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>